* {
  /* box-sizing: border-box; */
  /* animation: fadeIn 8s; */
  animation-iteration-count: infinite;
  /* background-image: url("lifeSunny2.jpg"); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0px;
  background-image: url("lifeSunny2.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100vh;
  /* animation: fadeIn 5s; */
  animation: changeBg 25s infinite;
}

@keyframes changeBg {
  0%,
  100% {
    background-image: url("hillyDay1.jpg");
  }
  18% {
    background-image: url("hillyDay2.jpg");
  }
  36% {
    background-image: url("hillyDay3.jpg");
  }
  54% {
    background-image: url("sunnyHilly5.jpg");
  }
  72% {
    background-image: url("lifeSunny1.jpg");
  }
  88% {
    background-image: url("lifeSunny2.jpg");
  }
}

#allContent {
  z-index: 1;
  position: relative;
}

#header {
  margin-top: -25px;
}

#title {
  font-size: 30px;
  color: #ccc;
  background: rgba(110, 110, 110, 00.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.arrow {
  z-index: 1;
  display: none;
  cursor: pointer;
  height: 120px;
  /* left: 50%; */
  left: 93%;
  position: fixed;
  /* top: 50%; */
  top: 46%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
}
.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}
.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}
.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}
.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

#searchBar {
  display: flex;
  justify-content: center;
}

#outerBox {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 238px;
}

/* .active,
#outerBox {
  animation: shiftLeft 3s;
} */

.activeBox {
  animation: shiftLeftBox 2s;
  animation-fill-mode: forwards;
}

.inactiveBox {
  animation: shiftRightBox 2s;
  animation-fill-mode: forwards;
}

@keyframes shiftLeftBox {
  0% {
    /* transform: translateX(0px); */
    margin-left: 0px;
  }
  100% {
    /* transform: translateX(-360px); */
    margin-left: -360px;
  }
}

@keyframes shiftRightBox {
  0% {
    /* transform: translateX(0px); */
    margin-left: -360px;
  }
  100% {
    /* transform: translateX(-360px); */
    margin-left: 0px;
  }
}

#settingsBox {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  /* right: 0;
  top: 0;
  width: 40%;
  height: 100%; */
  right: 0;
  width: 40%;
  top: 20%;
  height: 50%;
  /* background: #d9edffd1; */
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);

  /* We will be needing box shadow and a dif background later */
}

.activeSetting {
  animation: settingOut 2s;
  animation-fill-mode: forwards;
}

.inactiveSetting {
  animation: settingIn 2s;
  animation-fill-mode: forwards;
}

@keyframes settingOut {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes settingIn {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.setting {
  padding: 45px;
}

.activeSearch {
  animation: shiftLeftSearch 2s;
  animation-fill-mode: forwards;
}

.inactiveSearch {
  animation: shiftRightSearch 2s;
  animation-fill-mode: forwards;
}

@keyframes shiftLeftSearch {
  0% {
    /* transform: translateX(0px); */
    margin-left: 0px;
  }
  100% {
    /* transform: translateX(-360px); */
    margin-left: -180px;
  }
}

@keyframes shiftRightSearch {
  0% {
    /* transform: translateX(0px); */
    margin-left: -180px;
  }
  100% {
    /* transform: translateX(-360px); */
    margin-left: 0px;
  }
}

/* code for siwtches*/
.mid,
.mid:before,
.mid:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  box-sizing: border-box;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

/* Code for 2nd Switch*/

/* end */

#buttonTitle {
  margin-top: -82px;
  font-size: 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

#WFImg {
  margin-right: 5px;
  margin-left: 5px;
}

#searchBox {
  /* margin-top: 350px; */
  margin-top: 10px;
}

#cityButton {
  cursor: pointer;
}

#speciForecast {
  display: none;
  margin-top: 98px;
}

.speciBox {
  padding-left: 8px;
  padding-right: 8px;
}

#location,
#icon,
#time,
#report {
  /* font-size: 25px; */
  font-size: 35px;
}

#temperature,
#icon,
#time {
  margin: 0 20px;
}

#temperature {
  /* font-size: 100px; */
  font-size: 150px;
}

p {
  margin: 0;
}

#iconPic {
  width: 50px;
  height: 50px;
}

#weatherInfo {
  /* margin-top: 191px; */
  color: #ffffff;
  /* background-color: #000; */
  position: absolute;
  /* top: 0; */
  left: 0;
  /* width: 100%; */
  /* height: 100%; */

  display: flex;

  display: none;
  justify-content: space-between;
  padding: 2em 3em 1em 0em;
  align-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;

  margin-left: 25px;
}

#weatherInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: -3px; */

  margin: 0 9px;
}

#time {
  padding-top: 10px;
}

#endInfo {
  margin-top: -21px;
}

#icon {
  /* background-image: url("cloudyMoon.png"); */
  /* background-image: url("hillyDay2.jpg"); */
  width: 50px;
  height: 50px;
}

/* .city-search {
  font-size: 10px;
  outline: none;
  border: 3px solid rgb(96, 231, 139);
  border-radius: 5px;
  background-color: rgb(93, 189, 252);
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.input {
  text-align: center;
  margin: 100px, 0px;
}

input[type="text"] {
  height: 50px;
  width: 300px;
  background-color: lightblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-color: black;
  border-radius: 7px;
  cursor: pointer;
}

input[type="text"]:hover {
  background-color: #7eb3cd;
}

input[type="submit"] {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  border-color: black;
  background-color: rgb(138, 244, 86);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px rgb(54, 52, 52);
}

input[type="submit"]:hover {
  background-color: #3db942;
}

input[type="submit"]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
} */

.searchBox {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/* * {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}
body,
button,
input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}

body,
.search-bar {
  display: flex;
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #f1f1f1;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
} */

/* .bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0%;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0%;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
} */

/* .content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
} */

/* css for entire white box*/
/* .contentBox {
  padding: 15px;
  margin-top: 10px;
} */

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* .general-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.status {
  font-size: 34px;
  font-weight: bold;
}

.location {
  font-size: 25px;
  font-weight: normal;
  margin-top: 10px;
} */

/* .detail-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  justify-content: space-between;
}

.detail {
  display: flex;
  display: inline;
  flex-direction: column;
  align-content: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
}

.detail .title {
  font-size: 20px;
  flex-grow: 1;
  font-weight: bold;
  color: mediumturquoise;
}

.detail .value {
  font-size: 20px;
  margin-top: 8px;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .detail.bordered {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
} */

/* .changeColor {
  font-size: 20px;
  color: black;
  border-radius: 5px;
  background-color: white;
} */

/* .changeColor.on {
  font-size: 20px;
  color: black;
  border-radius: 5px;
  background-color: red;
} */

/* .display {
  text-align: center;
} */

/* .appTitle {
  color: black;
  font-size: 30px;
  text-align: center;
} */
